name: rust-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Test Azoth WebAssembly Runtime
      working-directory: ./libs/azoth-wasm-runtime
      run: cargo test --verbose

    - name: Test Azoth WebAssembly Engine
      working-directory: ./libs/azoth-wasm-engine
      run: cargo test --verbose
      
